openapi: 3.0.0
servers:
  - url: //metamdb.tu-bs.de/api
    description: MetAMDB server

info:
  description: |
    This is the MetAMDB Api Documentation.
  version: 1.0.0
  title: MetAMDB Api Documentation

tags:
  - name: reactions
    description: Everything about reactions.
  - name: pathways
    description: Everything about pathways.
  - name: search
    description: Search operations.

x-tagGroups:
  - name: General
    tags:
      - reactions
      - pathways
      - search

paths:
  "/reactions":
    get:
      tags:
        - reactions
      summary: Get reactions
      description: |
        On success, the HTTP status code in the response header is `200` OK and the response body contains an object whose key is `"reactions"` and whose value is an array of reaction objects in JSON format.

        Objects are returned in the order requested. If an object is not found, a `null` value is returned in the appropriate position. Duplicate `ids` in the query will result in duplicate objects in the response. On error, the header status code is an error code and the response body contains an error object.
      operationId: getReactionsById
      parameters:
        - name: ids
          in: query
          description: A comma-separated list of MetAMDB reaction ids.
          schema:
            type: array
            items:
              type: integer
              format: int64
          required: true
      responses:
        "200":
          $ref: "#/components/responses/Reactions"
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/reactions/{id}":
    get:
      tags:
        - reactions
      summary: Find reaction by ID
      description: Returns a single reaction for the specified MetAMDB reaction ID.
      operationId: getReactionById
      parameters:
        - name: id
          in: path
          description: MetAMDB ID of reaction to return.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/Reaction"
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  "/pathways":
    get:
      tags:
        - pathways
      summary: Get pathways
      description: |
        On success, the HTTP status code in the response header is `200` OK and the response body contains an object whose key is `"pathways"` and whose value is an array of pathway objects in JSON format.

        Objects are returned in the order requested. If an object is not found, a `null` value is returned in the appropriate position. Duplicate `ids` in the query will result in duplicate objects in the response. On error, the header status code is an error code and the response body contains an error object.
      operationId: getPathwaysById
      parameters:
        - name: ids
          in: query
          description: A comma-separated list of MetAMDB pathway ids.
          schema:
            type: array
            items:
              type: integer
              format: int64
          required: true
      responses:
        "200":
          $ref: "#/components/responses/Pathways"
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  "/pathways/{id}":
    get:
      tags:
        - pathways
      summary: Find pathway by ID
      description: Returns a single pathway object for the specified MetAMDB pathway ID.
      operationId: getPathwayById
      parameters:
        - name: id
          in: path
          description: MetAMDB ID of pathway to return.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          $ref: "#/components/responses/Pathway"
        "400":
          description: Invalid ID supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /search:
    get:
      tags:
        - search
      summary: Search for an item
      description: |
        Search for MetAMDB reactions of pathways that match a keyword string.

        **Encode spaces** with the hex code `%20`.

        **Field filters:** By default, results are returned when a match is found in any field of the target object type. Searches can be made more specific by specifying a `name` or `source`.

        For example: The query `q=name:1500%20source:kegg&type=reaction` returns only reactions with the identifier "1500" from the source "kegg".
      operationId: getSearch
      parameters:
        - name: q
          in: path
          description: Search query keywords and optional field filters.
          required: true
          schema:
            type: string
        - name: type
          in: path
          description: |
            Item types to seach across. 

            Valid types are: `reaction`, and `pathway`.
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 50
          default: 20
          description: Maximum number of results to return.
        - name: offset
          in: path
          required: false
          schema:
            type: integer
            format: int64
          default: 0
          description: The index of the first result to return.

      responses:
        "200":
          $ref: "#/components/responses/Search"
        "400":
          description: Bad query supplied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  responses:
    Pathway:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Pathway"
    Pathways:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Pathways"
    Reaction:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Reaction"
    Reactions:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Reactions"
    Search:
      description: Successful operation
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/PathwaySearch"
              - $ref: "#/components/schemas/ReactionSearch"
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: Invalid id
    PathwaySearch:
      description: Pathway search.
      type: object
      properties:
        pathways:
          type: object
          properties:
            href:
              type: string
              description: Link to api call
              example: "https://metamdb.tu-bs.de/api/search?q=source:brenda&type=pathway&offset=0&limit=20"
            items:
              type: array
              items:
                $ref: "#/components/schemas/Pathway"
            limit:
              type: integer
              format: int64
              example: 20
              description: Maximum number of results to return
            next:
              type: string
              description: Next search results based on offset and limit
              example: "https://metamdb.tu-bs.de/api/search?q=source:brenda&type=pathway&offset=20&limit=20"
            offset:
              type: integer
              format: int64
              example: 0
              description: The index of the first result to return
            previous:
              type: string
              description: Previous search results based on offset and limit
              example: null
            total:
              type: integer
              format: int64
              example: 166
              description: Total number of results
    ReactionSearch:
      description: Reaction search.
      type: object
      properties:
        reactions:
          type: object
          properties:
            href:
              type: string
              description: Link to api call
              example: "https://metamdb.tu-bs.de/api/search?q=source:brenda&type=reaction&offset=0&limit=20"
            items:
              type: array
              items:
                $ref: "#/components/schemas/Reaction"
            limit:
              type: integer
              format: int64
              example: 20
              description: Maximum number of results to return
            next:
              type: string
              description: Next search results based on offset and limit
              example: "https://metamdb.tu-bs.de/api/search?q=source:brenda&type=reaction&offset=20&limit=20"
            offset:
              type: integer
              format: int64
              example: 0
              description: The index of the first result to return
            previous:
              type: string
              description: Previous search results based on offset and limit
              example: null
            total:
              type: integer
              format: int64
              example: 61129
              description: Total number of results

    Pathways:
      type: object
      properties:
        pathways:
          type: array
          items:
            type: object
            $ref: "#/components/schemas/Pathway"
    Pathway:
      description: A representation of a pathway
      type: object
      properties:
        external_urls:
          type: object
          properties:
            metamdb:
              type: string
              description: Link to MetAMDB pathway
              example: "https://metamdb.tu-bs.de/pathway/2"
        href:
          type: string
          description: Link to api call
          example: "https://metamdb.tu-bs.de/api/pathways/2"
        name:
          type: string
          description: Name of the pathway
          example: "protocatechuate degradation II (ortho-cleavage pathway)"
        pw_id:
          type: integer
          format: int64
          example: 2
          description: Pathway ID
        reactions:
          type: array
          items:
            type: object
            properties:
              reaction:
                type: object
                $ref: "#/components/schemas/Reaction"
        source:
          type: string
          description: Database source of pathway
          example: metacyc
        source_id:
          type: string
          description: ID of pathway in source database
          example: "PROTOCATECHUATE-ORTHO-CLEAVAGE-PWY"
        type:
          type: string
          default: pathway
          description: Type of return

    Reactions:
      description: An array of reactions
      type: object
      properties:
        reactions:
          type: array
          items:
            type: object
            $ref: "#/components/schemas/Reaction"
    Reaction:
      description: A representation of a reaction
      type: object
      properties:
        external_urls:
          type: object
          properties:
            metamdb:
              type: string
              description: Link to MetAMDB reaction
              example: "https://metamdb.tu-bs.de/reaction/2"
            img:
              type: string
              description: Link to reaction image
              example: "https://metamdb.tu-bs.de/img/aam/2.svg"
        file:
          type: string
          format: binary
          description: RXN file of reactions atom mapping
          example: "$RXN\n\n  EC-BLAST     2\n\n  3  3\n$MOL\n{\"n\": \"(R)-pantoate\", \"i\": 10213, \"r\": \"s\", \"p\": 1}\n..."
        formula:
          type: string
          example: "beta-alanine + (R)-pantoate + ATP = H+ + (R)-pantothenate + diphosphate + AMP"
          description: Formula of the reaction
        href:
          type: string
          description: Link to api call
          example: "https://metamdb.tu-bs.de/api/reactions/2"
        id:
          type: integer
          format: int64
          example: 2
          description: Reaction ID
        identifiers:
          type: array
          items:
            type: object
            properties:
              source:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    example: 1
                    description: Identifier of the source database, with `1=BRENDA`, `2=KEGG`, and `3=MetaCyc`.
                  name:
                    type: string
                    example: BRENDA
                    description: Name of the source database.
              databaseIdentifier:
                type: string
                example: BS372665
                description: Reaction identifier in the source database.
        type:
          type: string
          default: reaction
          description: Type of return
        updated:
          type: boolean
          example: true
          description: Update status
        updatedBy:
          type: string
          example: cst
          description: Name of user that updated the reaction
        updatedOn:
          type: string
          example: 2020-05-11T12:43:17
          description: Date on which reaction was updated
